/* =========== © 2025 Centroarts.com - https://5play.org =========== */

/* Footer */
.footer-5p { margin-top: auto; }
.footblock + .footblock { margin-top: 16px; }

@media (max-width: 991px) {
	.footblock.seo-block {
		border-top: 1px solid var(--c-border);
		margin-left: calc(var(--wrp-p)/-1); margin-right: calc(var(--wrp-p)/-1);
		padding: var(--group-gap) var(--wrp-p);
		box-shadow: none; border-radius: 0;
	}
	.footblock.seo-block + .footblock { margin-top: 0; }
}

/* Telegram */
.f-telegram {
	--fs: inherit;
	position: relative; z-index: 1; overflow: hidden; padding: 24px;
	display: flex; gap: 12px; background-color: hsla(var(--c-blue),0.1);
	background-image: linear-gradient(90deg, hsla(var(--c-blue),0) 0%, hsla(var(--c-blue),0.1) 50%, hsla(var(--c-blue),0) 100%);
	border-radius: var(--block-rd);
	transition: background-color .2s ease;
}

.f-telegram:hover { background-color: hsla(var(--c-blue),0.2); }
.f-telegram .title { margin-bottom: 0; --title-fs: var(--fs); --title-lh: inherit; }
.f-telegram-icon, .f-telegram .desc { display: none; }

@media (min-width: 992px) {
	.f-telegram {
		--fs: 20px;
		padding: 32px; padding-left: 40px;
	}
	.f-telegram-icon { display: block; position: relative; z-index: -1; flex: 10%; pointer-events: none; user-select: none; }
	.f-telegram-icon img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -40%); }
}

@media (min-width: 768px) {
	.f-telegram { align-items: center; gap: 24px; }
	.f-telegram .desc { display: block; --desc-fs: var(--fs); flex: 1 1 auto; opacity: .8; }
}
@media (max-width: 767px) {
	.f-telegram { flex-direction: column; align-items: center; }
}

/* Menu */
.fmenu { margin-top: var(--group-gap); }
.fmenu-list { margin: 0 -10px; }

@media (min-width: 576px) {
	.fmenu { border-bottom: 1px solid var(--c-border); }
	.fmenu-list {
		display: flex; align-items: center; flex-wrap: wrap;
		padding: 20px 0;
	}
}

.fmenu-list a {
	display: block;
	font-size: var(--fs-1); line-height: 24px; opacity: .8; white-space: nowrap;
	padding: 4px 10px; transition: opacity .2s ease;
}
.fmenu-list a:hover { opacity: .9; }

/* Copyright */
.foot-logo img { width: 32px; height: 32px; }
.foot-info { padding: var(--group-gap) 0 24px 0; gap: 16px; font-size: var(--fs-3); }

@media (min-width: 576px) {
	.foot-info { padding: 24px 0; font-size: var(--fs-2); }
}
@media (max-width: 399px) {
	.foot-logo { display: none !important; }
}

.copyright { opacity: .8; }
.copyright > * { display: block; }

.scroll-up {
	width: 40px; height: 40px; line-height: 24px; border-radius: 50%;
	padding: 8px; box-shadow: inset 0 0 0 1px var(--c-border);
	margin-left: auto; transition: box-shadow .2s ease, background-color .2s ease;
}
.scroll-up .im { display: block; }
.scroll-up:hover { box-shadow: inset 0 0 0 6px hsla(var(--c-primary),0); background-color: hsla(var(--c-primary),0.2); }
.scroll-up:active { background-color: hsla(var(--c-primary),0.3); }