/* =========== © 2025 Centroarts.com - https://5play.org =========== */

.sharefunc.native .dropdown-box { display: none !important; }
.sharefunc .dropdown-box {
	--dropdown-p: 20px;
}
.share-list {
	padding: var(--dropdown-p);
	display: flex; gap: 8px;
}
.share-btn { display: block; }
.share-wa { --share-btn-color: 127,53%,61%; }
.share-tg { --share-btn-color: 201,85%,55%; }
.share-vk { --share-btn-color: 212,100%,50%; }
.share-fb { --share-btn-color: 217,100%,52%; }

.share-btn .im {
	--im-size: 40px !important;
	--im-color: hsl(var(--share-btn-color));
	width: var(--im-size); height: var(--im-size); position: relative; z-index: 1;
	display: block; overflow: hidden; margin: 0;
}
.share-btn .im::after {
	content: ""; position: absolute; inset: 0; border-radius: 50%; z-index: -1; opacity: .15;
	background-color: hsl(var(--share-btn-color));
	transition: opacity .15s ease;
}
.share-btn:hover .im::after { opacity: .25; }

.im-share-vk { --im-img: url(../img/icons/social-vk.svg); }
.im-share-fb { --im-img: url(../img/icons/social-fb.svg); }
.im-share-tg { --im-img: url(../img/icons/social-tg.svg); }
.im-share-wa { --im-img: url(../img/icons/social-wa.svg); }