/* =========== © 2025 Centroarts.com - https://5play.org =========== */

:root {
	--uidialog-gap: 24px;
}

/* - Диалоговые и всплывающие окна jQuery UI - */
.ui-widget-overlay, #modal-overlay { position: fixed; background: var(--modal-overlay) !important; opacity: 1 !important; left: 0; top: 0; right: 0; bottom: 0; }
* html .ui-helper-clearfix { height: 1% }
.ui-helper-clearfix { display: block }
.ui-dialog {
	display: flex; flex-direction: column; position: absolute; z-index: 90;
	border-radius: var(--modal-rd); background-clip: padding-box; max-width: 540px;
	box-shadow: var(--modal-sw); background-color: hsl(var(--modal-bg));
	text-align: left; overflow: hidden; padding: 0; width: 100%;
}
@media (max-width: 575px) {
	.ui-dialog { width: auto !important; left: 8px !important; right: 8px !important; }
}

.ui-dialog-titlebar { display: flex; align-items: start; height: auto; padding: 8px; position: relative; z-index: 1; }
.ui-dialog-title { flex: 1 1 auto; padding: 12px 16px; line-height: 24px; font-weight: var(--fw-bold); }

/* - Кнопка закрыть - */
.ui-dialog-titlebar-close {
	display: block; position: relative; z-index: 1;
	margin-left: auto; height: 48px !important;
	width: 48px !important; min-width: 48px; opacity: .5; padding: 0 !important;
	background: none; border: 0 none; color: inherit !important;
	white-space: nowrap; text-indent: -9999px; overflow: hidden; box-shadow: none;
	transition: opacity .2s ease;
}
.ui-dialog-titlebar-close:hover { opacity: .8; }
.ui-dialog-titlebar-close span { display: none; }
.ui-dialog-titlebar-close .ui-icon {
	display: flex !important; align-items: center; justify-content: center;
	padding: 12px; width: 48px; height: 48px; min-height: 48px; overflow: hidden;

	--im-size: 24px;
	--im-color: hsl(var(--c-text));
	--im-img: url(../img/icons/close.svg);
}

.ui-dialog-content { padding: 0 var(--uidialog-gap); overflow: auto; position: relative; zoom: 1; }
.ui-dialog-content h2 { display: inline; font-size: inherit; font-weight: bold }

.ui-dialog-buttonpane { display: flex; flex-wrap: wrap; padding: var(--uidialog-gap); }
.ui-dialog-buttonset { display: flex; flex-wrap: wrap; flex: 1 1 auto; }

.ui-dialog .ui-resizable-se { display: none !important; }
.ui-state-error { background: #fef1ec 50% 50% repeat-x !important; border: 1px solid #cd0a0a; color: #cd0a0a; }
.ui-helper-hidden-accessible { display: none; }

.ui-dialog-buttonset .ui-button { width: 100%; }
.ui-dialog-buttonset .ui-button:nth-child(3) { margin-left: 0; flex: 0 0 100%; }

.ui-dialog-buttonset .ui-button:first-child {
	--btn-c-text: hsla(var(--c-text),0.8);
	--btn-c-bg: hsla(var(--c-primary),0);
	--btn-c-sw: inset 0 0 0 1px var(--c-border);
}
.ui-dialog-buttonset .ui-button:first-child:hover {
  --btn-c-text: hsl(var(--c-second));
  --btn-c-bg: hsla(var(--c-primary),0.1);
  --btn-c-sw: inset 0 0 0 6px hsla(var(--c-primary),0);
}
.ui-dialog-buttonset .ui-button:first-child:active {
	--btn-c-bg: hsla(var(--c-primary),0.2);
}

/* - Быстрое редактирование - */
.dle-popup-quickedit { max-width: 584px; }

/* - Уведомление автору - */
#dle-promt-text { width: 100% !important; }

/* - Жалоба на комментарий - */
.dle-popup-complaint #dle-promt-text { margin-top: 8px; }

/* - Настройка профиля пользователя - */
.dle-popup-userprofileadmin .ui-dialog-content { 
	overflow: visible !important; padding-left: 0; padding-right: 0;
}
.dle-popup-userprofileadmin .ui-dialog-buttonpane { padding-top: var(--gap-min); }
.dle-popup-userprofileadmin .ui-dialog-content #edituserframe { max-height: 100%; }

/* - Минимальный размер блока подтвержения - */
.ui-dialog-content.dle-confirm { min-height: 72px !important; }

/* - Загрузчик изображений - */
.dle-popup-mediaupload .mediaupload-body { height: 400px !important; }